.Class1{
	color:aqua;
}
.Class2{
	background-color:blue;
}
ul{
	color:#abcdef;	
	background-image:url('myImg.jpg');
}

#e{
	color:aqua;
}

#m{
	color:green;
}

#i{
	color:orange;
}

#d{
	color:violet;
}

#s{
	color:purple;
}